<core-main-layout>
  <div class="header">HEADER</div>
  <div class="body">
    BODY
    <div class="app-container theme-dark">
      <h1 class="title">A title</h1>
    </div>
  </div>
  <div class="footer">FOOTER</div>
</core-main-layout>

<router-outlet></router-outlet>