<div class="header-container sideSpace theme-light">
  <ng-content select=".header"></ng-content>
</div>
<div class="body-container sideSpace theme-light">
  <ng-content select=".body"></ng-content>
</div>
<div class="footer-container sideSpace theme-light">
  <ng-content select=".footer"></ng-content>
</div>